name: Code Style

on: [push]

jobs:
    php-cs-fixer:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: "8.3"
                  coverage: none
                  tools: composer

            - name: Cache Composer dependencies
              uses: actions/cache@v3
              with:
                  path: ~/.composer/cache
                  key: php-cs-fixer-${{ hashFiles('.php-cs-fixer.dist.php') }}

            - name: Run PHP CS Fixer
              run: composer global exec php-cs-fixer -- fix --allow-risky=yes --config=.php-cs-fixer.dist.php --verbose

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5.0.0
              with:
                  commit_message: Fix PHP styling
                  branch: ${{ github.head_ref }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    prettier:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Prettier with Yarn
              run: yarn add prettier --dev --exact --frozen-lockfile

            - name: Create Prettier ignore file
              run: |
                  cat <<EOF > .prettierignore
                  public/assets/js/datepicker-es.js
                  public/assets/js/jquery-ui.js
                  public/assets/js/jquery.min.js
                  public/assets/js/tinymce/**
                  public/assets/js/bootstrap/**
                  EOF

            - name: Run Prettier JS/HTML/CSS/JSON formatting
              run: yarn exec prettier --write --ignore-path .prettierignore '**/*.{js,html,css,json}'

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5.0.0
              with:
                  commit_message: Fix Prettier styling
                  branch: ${{ github.head_ref }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
